#heading{
    color : rgb(15, 12, 34);
    font-size: 25px;
    font-family: cursive;
    /* font-style: italic; */
    font-weight: 200;
    text-align: center;
    text-decoration: underline;
    /* background-image: linear-gradient(45deg, #fdf66c, #036f7e); */
    border-radius: 150px;
    
 }
 .btn-primary{
    background-color: #4b4b4b;
    /* border-color: #ffffff; */
    border-radius: 10px;
    color: beige;
    word-spacing: 20px;
    font-family: cursive;
    font-size: 20px;
    padding: 4px;
    margin-top: 20px;
    margin-left: 50px;
 
   

}

 h1::first-letter {
    font-size: 150%;
    color: rgb(185, 51, 51);
    animation: blink 1s linear infinite;

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
  }



